.opc-Video iframe {
  border: none;
}
.opc-Video .give-consent-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10%;
  text-decoration: none;
  background-size: cover;
  background-position: center;
}
.opc-Video .give-consent-preview:not(:hover) {
  color: #fff;
}
.opc-Video .opc-Video-iframe-wrapper {
  position: relative;
  display: inline-block;
}

.opc-Video .opc-video-pause {
  appearance: none;
  background: #ffffff91;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 7px;
}
.opc-Video .opc-video-pause:hover {
  color: rgba(0, 0, 0, 0.75);
}

/*# sourceMappingURL=Video.css.map */
